.fadeOut, .fadeIn {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}
.fadeOut {
    opacity: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
    opacity: 1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}